apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-cafe-deployment
  namespace: {{ .Values.namespaceName }}
spec:
  replicas: {{ .Values.mysql.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.mysql.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.mysql.label }}
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
                - db
      containers:
        - name: {{ .Values.mysql.containers.name }}
          image: {{ .Values.mysql.containers.image }}
          env:
            - name: MYSQL_DATABASE
              value: {{ .Values.mysql.containers.database }}
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.mysql.containers.rootPassword}}
            - name: MYSQL_USER
              value: {{ .Values.mysql.containers.user }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.mysql.containers.password }}
          args:
            - "--default-authentication-plugin=mysql_native_password"
            - "--local-infile=1"
          ports:
            - containerPort: {{ .Values.mysql.containers.containerPort }}
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "mysqladmin ping -h localhost -u root -p{{ .Values.mysql.containers.rootPassword }}"
            initialDelaySeconds: {{ .Values.mysql.containers.initialDelaySeconds }}
            periodSeconds: {{ .Values.mysql.containers.periodSeconds }}
            timeoutSeconds: {{ .Values.mysql.containers.timeoutSeconds }}
