apiVersion: apps/v1
kind: Deployment
metadata:
  name: cafee-mysql-deployment
  namespace: {{ .Values.namespaceName }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cafee-mysql
  template:
    metadata:
      labels:
        app: cafee-mysql
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values:
                - db
      containers:
        - name: mysql
          image: mysql:8.0.44-debian
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: {{ .Values.mysql.rootPassword }}
            - name: MYSQL_DATABASE
              value: {{ .Values.mysql.database }}
            - name: MYSQL_USER
              value: {{ .Values.mysql.user }}
            - name: MYSQL_PASSWORD
              value: {{ .Values.mysql.password }}
          args:
            - "--default-authentication-plugin=mysql_native_password"
            - "--local-infile=1"
          ports:
            - containerPort: {{ .Values.mysql.containerPort }}
