name: Deploy MySQL with Flyway

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: 'Select branch to deploy'
        required: true
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 --decode > $HOME/.kube/config

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      - name: Deploy MySQL & Flyway
        run: |
          helm upgrade --install cafee-mysql charts/cafee-mysql \
            --set mysql.rootPassword=${{ secrets.MYSQL_ROOT_PASSWORD }} \
            --set mysql.user=${{ secrets.MYSQL_USER }} \
            --set mysql.password=${{ secrets.MYSQL_PASSWORD }}
